
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hello, I’m Steven Ly. I’m currently studying Computer Programming & Analysis at Seneca Polytechnic, where I’m focused on building my skills in software development and cloud computing. 
                        </p>
                        <p>
In my career so far,    I’ve had the chance to work across a few different industries—healthcare, banking, and IT. I’ve interned at companies like IBM, RBC, and CIBC, where I got hands-on experience with tools like Azure, Kubernetes, Linux, and automation scripting with Bash and PowerShell. It’s been exciting to be part of teams solving real-world problems and building scalable systems.
Right now, I’m working towards growing into a cloud solutions architect or DevOps engineer. I’m eager to learn as much as I can, keep improving, and eventually gain a deeper understanding of new emerging technologies in my professional career.
When I’m not working on my professional goals, I enjoy PC gaming, and I like to unwind by playing golf or badminton. 

                        </p>
                    </article>
                </section>
            </div>
        </div>

  